// 
// Sections
// 

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;

    .resume-section-content {
        width: 100%;
    }

    
    
    div.background {
        background-color: black;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

img.project-img {
    max-height: 155px;
    max-width: none;
    height: 100%;
    width: auto;
    margin: auto;
    border-radius: 0 0 0 0;
}

@include media-breakpoint-up(md) {
    section.resume-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-down(md) {
    img.project-img {
        max-height: 100px;
    }

}

@include media-breakpoint-up(lg) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
