doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Peter Nolan
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Peter 
                        span.text-primary Nolan
                    .subheading.mb-5
                        | Holmes, NY 12531 · (631) 416-6686 · 
                        a(href='mailto:peter.l.nolan@gmail.com') peter.l.nolan@gmail.com
                    p.lead.mb-5
                        | A full-stack Web Developer from the Hudson Valley with an eye for design. I can help you build your web application and provide meaningful insight on the back-end architecture all the way to the bezeling on your buttons.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/peter-nolan-45828b2ab/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/ptrnln')
                            i.fab.fa-github
                        //- a.social-icon(href='#!')
                        //-     i.fab.fa-twitter
                        //- a.social-icon(href='#!')
                        //-     i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Quality Technician
                            .subheading.mb-3 Pawling Engineered Products
                            p
                                | Measure and inspect the physical properties of a variety of polymer extrusions, ensuring comformance to the specifications provided in the work order.
                        .flex-shrink-0
                            span.text-primary March 2022 - October 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Press Operator
                            .subheading.mb-3 Ditron, Inc.
                            p
                                | Manage the continual operation of over a dozen automated presses, performing critical manual tasks when necessary.
                        .flex-shrink-0
                            span.text-primary December 2011 - March 2013



            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 App Academy
                            .subheading.mb-3 Full-time Hybrid Course
                            div Full-stack Web Development Bootcamp
                        .flex-shrink-0
                            span.text-primary October 2023 - February 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Chainshot
                            .subheading.mb-3 Online Course
                            div Blockchain Development Bootcamp
                        .flex-shrink-0 
                            span.text-primary August 2002 - May 2006

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-figma
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | UX-oriented, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I am also an avid gamer; my current obsession is with Baldur's Gate 3. On a similar note, I also really enjoy table-top RPGs and am currently between campaigns, so if you're a DM with an open seat, my DMs are likewise open!
                    p.mb-0
                        | I do also touch grass from time to time, or at least my running shoes do. I play a few different instruments, namely the piano, drums and a little guitar; I also lightly dabble in music production.

            hr.m-0


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')